[init]
	defaultBranch = main
[user]
	name = Katie Kloss
	email = kloss.katherine@gmail.com
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	autoSetupRemote = true
